/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #181A1C;
    height: 100vh;
    margin: 0;
    scrollbar-width: thin;
}

.interface{
    max-width: 1500px; /*separando*/
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center; 
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 20px 4%;
    position: fixed; /*vai descer junto*/
    top: 0; /* fica no topo de inincio */
    z-index: 1000; /*cima de outros elementos */
    background-color: rgba(49, 49, 49, 0.6); /* Cor de fundo com transparência */
    backdrop-filter: blur(10px);
    width: 100%;
    box-shadow: 0px 2px 5px rgba(147, 88, 247, 1); /* Adicionei uma sombra ao cabeçalho para separá-lo do conteúdo */
}

header > .interface{
    display: flex;
    align-items:center;
    justify-content: space-between; /*ficou separado*/
}

header a{
    text-decoration: none; /*tirei a linha abaixo dos nomes*/
    font-size: 25px; 
}

header nav ul{
    list-style-type: none; /*tirei os pontos da lista do menu*/
    margin-right: 249px; /* Adição */
}

header nav ul li{
    display: inline-block; /*deixei a lista do menu um do lado do outro*/
    padding: 0 20px;
}

.menu_desktop {
    flex: 1;
    text-align: right;
}

/* AQUI VEM O SWITCH DE TEMA */

.trilho{
    font-size: 16px;
    position: relative;
    display: flex;
    width: 3.5em;
    height: 2em;
  }
  
  /* esconde o input do html */
  .trilho input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /*slider*/
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B10DC9;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  /*slider antes(BOLINHA)*/
  .slider:before {
    position: absolute; 
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  /*CHECKBOX MARCADO*/
  .trilho input:checked + .slider {
    background: #c07ece;
  }
  
  .trilho input:focus + .slider {
    box-shadow: 0 0 1px #b84fce;
  }
  /*SWITCH LIGADO*/
  .trilho input:checked + .slider:before {
    transform: translateX(1.6em);
    width: 2em;
    height: 2em;
    bottom: 0;
  }
  
  body.claro{
    background-color: #f7fdff;
    color: #000000; 
   
    section.sobre,
    section.tecnologias {
        background-image: linear-gradient(to bottom, #f7fdff,#86d9ee, #f7fdff); /* Fundo gradiente claro */
    }

    header {
        background-color: rgba(189, 189, 189, 0.8); /* Fundo do cabeçalho com transparência */
    }

    .menu_desktop ul li a,
    .topo_site h1,
    .topo_site .texto_topo p,
    .texto-sobre,
    .areas ul li,
    .areas ul li.active,
    .areas ul li:hover,
    .descricao .titulo,
    p,
    h2,
    .texto,
    .texto_topo h1{
        color: #000000; /* Altera a cor do texto para preto */
    }

    footer p,
    footer h2,
    footer h3,
    footer h4{
        color: #e0e0e0;
    }

    .tecnologias h1,
    .projetos h1,
    .sobre h1{
        color: #4b4b4b; /* Altera a cor do texto para preto */
    }

    .projetos__card-button {
        background-color: #f7fdff; /* Altera a cor dos botões para roxo */
        color: #000000; /* Altera a cor do texto dos botões para branco */
    }

    .projetos__card-button:hover {
        background-color: #e0e0e0;
        text-shadow: 1px 1px 3px #00d2df;
    }

    .logo a {
        color: rgba(147, 88, 247, 1); /* Cor azul */
        transition: 0.4s; /* Transição */
        font-size: 39px;
        text-shadow: 0 0 15px rgba(147, 88, 247, 1);
    }
      
    .logo a:hover {
        color: #00d2df;
        text-shadow: 0 0 15px #fce6ff;
    }

    .topo_site .texto_topo p span::after{
        background-color: #f7fdff;
    }

    .menu_desktop ul li a::after {
        background: linear-gradient(to right, transparent 0%, rgba(147, 88, 247, 1)100%, transparent 100%); /*Configurei a opacidade da transição*/
    }

    .areas ul li.active{
        background-color: rgba(189, 189, 189, 0.699);
    }
    
    .areas ul li:hover {
        background-color: rgba(189, 189, 189, 0.699);
    }
  }
  
  
/* AQUI ENCERRA O SWITCH DE TEMA  */  

.menu_desktop ul li a {
    position: relative;
    text-decoration: none; /*adicionei a linha pro efeito*/
    color: #ffffff;
}

.menu_desktop ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px; /*altura da linha*/
    left: 0;   /*inicia em 0*/
    width: 0; /*inicia em 0*/
    height: 2px;
    background: linear-gradient(to right, transparent 0%, #B0E0E6 100%, transparent 100%); /*Configurei a opacidade da transição*/
    opacity: 0; /* Inicialmente transparente */
    transition: 300ms cubic-bezier(0.17, 0.67, 0.55, 1.20); /*configurei a transição*/
}

.menu_desktop ul li a:hover::after {
    width: 100%; /* expandir a largura da linha ao passar o mouse */
    opacity: 1; 
}

/*VL*/

.logo {
    margin-left: 90px; 
}

.logo a {
    color: #00d2df; /* Cor azul */
    transition: 0.4s; /* Transição */
    font-size: 39px;
    text-shadow: 0 0 15px #00d2df;
  }
  
  .logo a:hover {
    color: rgba(147, 88, 247, 1);
    text-shadow: 0 0 15px #fce6ff;
  }

  
/*TOPO DO SITE*/
section.topo_site {
    padding: 260px 20%;

} 

section.topo_site .flex{
    align-items: center;
    justify-content: center;
    gap: 215px;
} 

.topo_site h1{
    color: #D9D9D9;
    font-size: 62px;
    line-height: 80px;
    white-space: nowrap; /*linha unica*/
}

.topo_site h1 span {
    color: #B10DC9;
}

.topo_site .texto_topo p{
    color: #00d2df;
    margin-right: 40px 0;
    font-size: 37px;
    text-shadow: 0 0 15px #00d2df;
    white-space: nowrap; /*linha unica*/
}

.topo_site .texto_topo p span{
    position:relative
}

.topo_site .texto_topo p span::before{
    content: "";
    color: #00d2df;
    animation: animacao-palavra 20s infinite;
}

.topo_site .texto_topo p span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #00d2df;
    right: -10px;
    opacity: 1;
    animation: cursor .9s infinite, digita 40s steps(15) infinite;
    width: calc(100% + 10px);
    background-color: #181A1C;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 10px);
    }

}
@keyframes cursor {
    0%{
        border-left: 2px solid #181A1C;
    }
}

@keyframes animacao-palavra {
    0%, 30%{
        content: "Desenvolvedora Front-End";
    }
    31%, 60%{
        content: "Desenvolvedora Front-End";
    }
    61%, 100%{
        content: "Desenvolvedora Front-End";
    }
}

hr {
    border: none; 
    height: 2px;
    background: linear-gradient(to left, #00d2df, #B10DC9, rgba(99, 88, 238, 1));
    background-size: 500% 100%;
    animation: degrade-animado 7s infinite alternate;
    margin: 10px 0;
}

@keyframes degrade-animado {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

/* ICONE DOS CONTATOS  */
.contatos{
    margin-top: 35px;
}

.example-2 {
    display: flex;
    list-style: none;
  }
  
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  
  
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(147, 88, 247, 1);
    transition: all 0.3s ease-in-out;
  }
  
  .example-2 .icon-content a i {
    position: relative;
    z-index: 1;
    font-size: 30px;
  }
  
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background: linear-gradient(45.3deg, #00d2df 10.8%,rgba(99, 88, 238, 1) 50%);
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background: linear-gradient(45.3deg, #00d2df 10.8%,rgba(99, 88, 238, 1) 50%);
  }
  
  .example-2 .icon-content a[data-social="gmail"] .filled,
  .example-2 .icon-content a[data-social="gmail"] ~ .tooltip {
    background: linear-gradient(45.3deg, #00d2df 10.8%,rgba(99, 88, 238, 1) 50%);
  }

  

/* IMAGEM */
.topo_site .img_topo img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate; /*periodo de 2 seg suave e infinita alternando do 0 ao 100*/
}

/*criando o efeito imagem*/
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

.scroll {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 200px;
    bottom: 0;
    margin-bottom: 25px;
}

.scroll a {
    text-decoration: none;
    display: flex; 
    align-items: center;
}

.scroll p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px; 
}

.scroll img {
    width: 50px;
}


/* AQUI INICIA SOBRE  */


section.sobre{
    padding: 150px 20%;
    background-image: linear-gradient(to bottom, #181A1C, #2b0c3a, #181A1C); /* Cria um degradê onde o meio é a segunda cor */

}

section.sobre .flex{
    align-items: center;
    gap: 40px;
}

.sobre h1 {
    color: #D9D9D9;
    font-size: 36px;
    margin-bottom: 5%;
    margin-top: 0; 
    text-align: left; 
}

.sobre .texto-sobre{
    color: #eeeeee;
}

.sobre .texto-sobre h2{
    font-size: 40px;
    line-height: 20px;
    margin-bottom: 30px;
}

.sobre .texto-sobre p{
    margin: 20px 0;
    text-align: justify;
    font-size:  1.2rem;
    line-height: 1.5rem;
}

.img-sobre img {
    border-left: 2px solid;
    padding-left: 3px; 
    border-radius: 5px;
    background: linear-gradient(to left, #00d2df, #B10DC9, rgba(99, 88, 238, 1));
    background-size: 500% 100%;
    animation: degrade-animado 6s infinite alternate;
}

/*botão para o curriculo*/
.btn{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.button-cv button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: rgba(99, 88, 238, 1);
    background-size: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
}

.button-cv a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.button-cv:hover::before {
    transform: scaleX(1);
}

.button-cv .button-content {
    position: relative;
    z-index: 1;
}

.button-cv button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    background: linear-gradient(
      82.3deg,
      #00d2df 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
}

.texto-sobre .btn .button-cv {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: rgba(99, 88, 238, 1);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 50%;
}

.texto-sobre .btn .button-cv:hover::before {
    transform: scaleX(1);
}

.texto-sobre .btn .button-content {
    position: relative;
    z-index: 1;
}

.texto-sobre .btn .button-cv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    background: linear-gradient(
        82.3deg,
        #00d2df 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
}

/* botão para WhatsApp */
.texto-sobre .btn .button-W {
    text-decoration: none;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #ececec;
    cursor: pointer;
    background-size: 100%;
    color: #000000;
    z-index: 1;
    text-align: center; 
    line-height: 3rem;
}

.texto-sobre .btn .button-W:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.texto-sobre .btn .button-W:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.texto-sobre .btn .button-W:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.texto-sobre .btn .button-W:hover:after {
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/*logo whats*/
.bi-whatsapp {
    color: #25D366; /* Verde do WhatsApp */
}
/* AQUI ACABA SOBRE  */

/* AQUI INICIA PROJETOS*/

.projetos {
    padding: 200px 20% 300px 20%;;
}

.projetos .interface .flex {
    align-items: flex-start;
    gap: 50px;
}

.projetos h1 {
    color: #D9D9D9;
    font-size: 36px;
    margin-bottom: 5%;
    margin-top: 0; 
    text-align: left; 
}

.cards-geral{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-bottom: 5rem;
}
  
.projetos__card h2 {
    font-size: 1.3rem;
    margin: 2.5rem 0;
    color: #dbdbdb;
}

.projetos__card p {
    font-size: 1rem;
    margin: 2.5rem 0;
    color: #999999;
}
  
.projeto-img {
    border-left: 5px solid #00d2df;
    width: 100%;
    transition: 0.5s;
}
  
.projeto-img:hover {
    transform: scale(110%);
    border-left: 5px solid rgba(101, 24, 180, 1);
}

.projetos__card a{
    text-decoration: none;
    color: white;
}

.projetos__card-button {
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 160px;
    border-radius: 8px;
    position: relative;
    background-color: #242424;
    margin-top: 1rem;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 50px;
  }
  .projetos__card-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -2px;
    border-radius: 9px;
    background: linear-gradient(to left, #00d2df, #B10DC9, rgba(99, 88, 238, 1));
    background-size: 500% 100%;
    animation: degrade-animado 7s infinite alternate;
  }
  .projetos__card-button:hover {
    background-color: #333333;
    text-shadow: 1px 1px 3px #00d2df;
  }

/* AQUI ACABA PROJETOS*/


/* AQUI INICIA TECNOLOGIAS  */
.tecnologias {
    padding: 150px 20% 20px;
    background-image: linear-gradient(to bottom, #181A1C, #2b0c3a, #181A1C); /* Cria um degradê onde o meio é a segunda cor */
}

.tecnologias .interface .flex {
    align-items: flex-start;
    gap: 50px;
}

.tecnologias h1 {
    color: #D9D9D9;
    font-size: 36px;
    margin-bottom: 5%;
    margin-top: 0; 
    text-align: left; 
}

/*areas*/
.areas{
    width: 342px;
    cursor: pointer;
}

.areas ul {
    list-style: none;
    font-size: 1.1rem;
    padding: 0;
}

.areas ul li.active{
    background-color: #6b6b6bbd;
    border-left: 3px solid #00d2df;
    font-weight: 600;
}

.areas li {
    padding: 15px;
    text-align: center;
    border-left: 2px solid #B10DC9; 
    transition: background-color 0.5s ease;
    color: #ffffff;
}

.areas ul li:hover {
    background-color: #6b6b6bbd;
}

/*descricao*/
.descricao {
    width: 100%;
    margin-top: 9px;
    margin-left: 10px;
    position: relative;
    line-height: 2.3rem;
}

.descricao .titulo{
    color: #ffffff;
}

.descricao section {
    display: flex;
    align-items: flex-start;
}
  
.descricao section.active {
    display: block;
}

.descricao section.active .show-right {
    animation: 0.5s forwards show-right;
}

.descricao h2 {
    font-size: 1.4rem;
    display: inline-block;
}

.descricao .img{
    font-size: 0.95rem;
    position: absolute;
    right: 3px;
    top: 60px;
    font-weight: bold;
}

.descricao .img img {
    margin-left: 20px;
    margin-top: 160px;
}

.descricao .texto{
    margin-right: 295px;
    gap: 50px;
    font-size: 1.3rem;
    
}

.texto {
    margin: 2rem 0;
    color: #e9e9e9 ;
    word-wrap: break-word;
    
    text-align: justify;
}

@keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes show-down {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }


.tecnologias .areas ul li.clicked,
.tecnologias .areas ul li:hover {
    background-color: #6b6b6bbd;
    border-left: 2px solid #00d2df;
}

/* AQUI ACABA TECNOLOGIAS  */

/*AQUI COMEÇA O FOOTER*/

footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #181A1C, #181A1C);;
    color: #ffffff;
    padding: 100px, 0 30px;
    font-size: 13px;
    line-height: 10px;
    text-align: center; 
}

.linha {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
}

.contatos {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 10px; 
}

.email,
.numero {
    margin: 9px 0; 
}

.direitos {
    margin-top: 20px;
}


/*AQUI ACABA O FOOTER*/

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 18px;
}

/* Estilo*/
::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, #00d2df, #B10DC9, rgba(99, 88, 238, 1));
    background-size: 500% 100%;
    animation: degrade-animado 6s infinite alternate;
    border-radius: 50px;
    border: 1px solid;
}

/*seleção de texto*/
::selection {
    background-color: #B10DC9; 
    color: #ffffff; 
}

@media screen and (max-width: 1024px) {

    /*classes gerais*/
    .flex{
        flex-direction: column;
    }
    /*cabeçalho*/
    header nav ul {
        display: none; /* Oculta o menu de navegação em telas menores que 1024px */
    }

    /*topo do site*/
    .topo_site h1{
        font-size: 32px;
        line-height: 80px;
    }
}

@media screen and (max-width: 768px) {
    
      /* Exceção: footer mantém espaçamento original */
      footer {
        padding: 100px 0 30px; 
      }

    .topo_site {
      padding: 100px 20%; /* Reduz o padding superior */
    }
  
    .topo_site .flex {
      flex-direction: column; /* Organiza os elementos em coluna */
      gap: 20px; /* Ajusta o espaçamento entre os elementos */
    }

    .topo_site .img_topo img {
        margin: 0 auto;
        display: block;
        max-width: 100%; 

      }
  
    .topo_site .texto_topo p {
      font-size: 20px; /* Diminui o tamanho do texto */
    }

    .projetos {
      padding: 100px 20% 100px 20%; /* Reduz o padding inferior */
    }
    
    .cards-geral {
      grid-template-columns: 1fr; /* Exibe os cards em uma única coluna */
    }

    .tecnologias .interface .flex {
        flex-direction: column; /* Muda para layout de coluna */
      }
    
      .descricao {
        margin-top: 20px;
        width: 100%; /* Ocupa a largura total da tela */
        margin-left: 0; 
      }
    
      .descricao .texto {
        margin-right: 0; /* Remove a margem direita */
      }
    
      .descricao .img {
        position: static; /* Remove o posicionamento absoluto */
        text-align: center; /* Centraliza as imagens */
        margin-top: 20px; 
      }
    
      .descricao .img img {
        margin: 0; /* Remove as margens */
        max-width: 50%; /* Define largura máxima para as imagens */
      }
  }
